*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #e0f1e8;
  font-family: "Karla", sans-serif;
  margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*! mobil start  */

.sendMessage {
  display: none;
  flex-direction: column;
  background-color: #2a4144;
  width: fit-content;
  padding: 24px;
  border-radius: 16px;
  gap: 8px;
  font-family: "Karla", sans-serif;
  position: relative;
  top: 30px;
  margin: 0 auto;
}

.sendCheck {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: #fff;
}

.sendMessage p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #e0f1e8;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  background-color: #fff;
  padding: 24px;
  margin-inline: 16px;
  margin-block: 32px;
  border-radius: 16px;
}

.container h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1px;
  text-align: left;
  color: #2a4144;
}

/* name iformation start  */

.container p {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #2a4144;
}

.container p span {
  color: #0c7d69;
}

.nameIformation {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container input {
  border: 1px solid #86a2a5;
  border-radius: 8px;
  width: 100%;
  height: 51px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #2a4144;
}

.nameIformationBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container .control {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #d73c3c;
}

/* name iformation end  */

.emailBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.query {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.query input {
  width: 20px;
  height: 20px;
}

.check {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#general {
  display: flex;
  border: 1px solid #86a2a5;
  padding-block: 12px;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #2a4144;
  gap: 12px;
  border-radius: 8px;
  padding-left: 24px;
}

.check input {
  accent-color: #0C7D69;
}

#support {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  border: 1px solid #86a2a5;
  padding-block: 12px;
  align-items: center;
  color: #2a4144;
  gap: 12px;
  border-radius: 8px;
  padding-left: 24px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.meassage textarea {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #2a4144;
}

.precondition {
  display: flex;
  gap: 16px;
  align-items: center;
}

.precondition input {
  width: 24px;
  height: 24px;
  border: 2px solid #86a2a5;
  accent-color: #0C7D69;
}

.precondition p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.btn button {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: #fff;
  background-color: #0c7d69;
  border: none;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  padding-block: 12px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  border: 1px solid;
  margin: 0 auto;
}

.table th {
  font-size: 16px;
  color: red;
  border: 1px solid;
}

.table td {
  list-style: none;
  font-size: 12px;
  padding: 4px;
  color: #2a4144;
  border: 1px solid;
}

/*! mobil end  */

/*! tablet kısmı start  */

@media (width >=768px) {

  .container {
  margin-inline: 40px;

  }

  .nameIformation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .check {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .table {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;
    border: 1px solid;
    margin: 0 auto;
  }
  
  .table th {
    font-size: 24px;
    color: red;
    border: 1px solid;
  }
  
  .table td {
    list-style: none;
    font-size: 16px;
    padding: 4px;
    color: #2a4144;
    border: 1px solid;
  }
}
/*! tablet kısmı end  */

/*! desktop kısmı start  */

@media (width >= 1024px) {
  .sendMessage {
    display: none;
    flex-direction: column;
    background-color: #2a4144;
    width: fit-content;
    padding: 24px;
    border-radius: 16px;
    gap: 8px;
    font-family: "Karla", sans-serif;
    position: relative;
    margin: 0 auto;
    top: 50px;
  }
  .container input:hover {
    border-color: #0c7d69;
  }

  #subBtn:hover {
    background-color: #00000080;
  }
}

/*! desktop kısmı end  */
